*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: radial-gradient(50% 50% at 50% 50%, #E0E8F1 0%, #BFCAD6 100%) no-repeat;
    height: 115vh;
}

::-webkit-scrollbar{
    display: none;
}

@media  screen and (max-width:480px) {
    
}